body {
  background-color: #0a0b0d;
  background-image: url("https://raw.githubusercontent.com/Ph4ra0hXX/go-book-front/master/public/fundo.png");
}

*{
    font-family: "Sora", sans-serif;
    margin: 0;
}

